$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

html, body, #app-main {
    height: 100%;
  font-size: 13px;
  background-color: #272822;
}

.content {
  margin-top: 50px;
}
* {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #cccccc;
    border-radius: 5px;
  }
  &-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
}
