@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

.menu-container {
  width:100%;
  background: #fffefb;
  user-select: none;
  &>ul {
    @include clearfix();
    cursor: default;
    padding: 0;
    margin: 0;

    li.main-menu-item {
      list-style: none;
      display:block;
      float:left;
      position: relative;
      &>span {
        padding: 3px 6px;
        display: block;
        border: 1px solid transparent;
      }

      &.active {
        background-color: #cdedfe;
            &>span {
              border: 1px solid #b7d5f1;
            }
          &>ul {
            display: block;
            position: absolute;
            top: 26px;
            left: 0px;
            list-style: none;
            padding: 3px;
            z-index: 9999999999;


            background-color: #f2f2f2;
            border: 1px solid #aaaaaa;
            width: 250px;
            &>li {
              @include clearfix();
              padding: 2px 7px;
              .check {
                width: 15px;
                height: 15px;
                display: block;
              }
              .arrow-more {
                display: block;
                height: 15px;
                width: 10px;
              }

              &:hover {
                background-color: #93c7f0;
              }
            }
          }
      }
      &>ul{
        display: none;
      }
    }
  }

}
