<div class="menu-container">
  <ul>
    <li v-for="(value, key) in lies" class="main-menu-item">
      <span @click="setActive(value); value.callback();">{{ key }}</span>
      <ul v-show="isActive && checkChild(value)">
        <li v-for="(cValue, cKey) in value.children" @click="cValue.callback();">
          <span class="check pull-left"></span>
          <span class="pull-left">{{ cKey }}</span>
          <span class="pull-right arrow-more"></span>
          <span class="pull-right"></span>
        </li>
      </ul>
    </li>
  </ul>
</div>
