<div class="content-edit">
  <nav>
    <ul class="tabs-ul">
      <li v-for="tab in tabs"
          :key="tabs.indexOf(tab)"
          :class="{current: tab.isActive}"
          v-on:click="setActive(tab)">
        <span>{{tab.fileName}}</span>
        <i class="icon-close2" v-on:click="close(tab, $event)" v-show="showClose(tab)"></i>
      </li>
    </ul>
  </nav>

  <div class="editors">
    <editor  v-for="tab in tabs" :key="tabs.indexOf(tab)" :content.sync="tab.content"></editor>
  </div>
</div>
