ul.tabs-ul {
  list-style: none;
  display: flex;
  background: black;
  margin: 0px;
  li{
    background-color: #3d3d3b;
    min-width: 100px;
    color: #fff;
    border: 1px solid #777;
    margin: 0 2px;
    border-bottom: 0;
    padding: 5px 15px;
    position: relative;
    z-index: 0;
    background: linear-gradient(#4d4d4b, #3d3d3b, #4d4d4b);
    &:first-child {
      margin-left: 0 !important;
    }

    &.current {
      background: linear-gradient(#272823, #3d3d3b, #272822);
      background: #272822;
      z-index: 1;
    }
    i {
      position: absolute;
      right: 7px;
      top: 7px;
      color: #888;
      &:hover {
        color: #fff;
      }
    }

  }




}
