@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

#main-container {
  user-select: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .folder-place {
    background-color: #d5d5d5;
    min-width:100px;
    overflow: auto;
    border: 3px solid #d5d5d5;
  }
  .spacer {
    width: 3px;
    background-color: #7f7678;
    cursor: col-resize;
  }
  .content-edit {
    height:100%;
    min-width:100px;
    width: 100%;
  }
}
